.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    padding-top: 20px;
    list-style: none;
    justify-content: center;
}
  
.input {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
input {
    border: 1px solid #AFB1E8;
    padding: 10px 0 10px 0;
}  
 
input:focus {
    outline: 2px solid #AFB1E8;
}
    
#email {
    width: 30%;
    font-family: inherit;
    color: #737373;
    text-indent: 3%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
#submit {
    padding: 11px;
    letter-spacing: 1px;
    background: #AFB1E8;
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
    
#submit:hover {
    background: transparent;
}
  
@media screen and (max-width: 960px) {
    .footer-menu {
      width: 100%;
      transition: all 0.5s ease;
    }
}