.App {
  font-family: 'Varela', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 3rem;
}

#collabs {
  padding: 0.5rem;
}

#members, #events {
  padding-top: 0;
}

.hero {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5rem;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align:  center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.img-mask {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-img { width: 100%; }

.purple {
  background-color: #AFB1E8;
}

h1, h2, h3{
  color: #56599E;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  letter-spacing: 3px;
}

h2, h3, .copy {
  text-align: center;
}

p {
  color: '#263238';
  line-height: 25px;
}

/*Scrollbar*/

::-webkit-scrollbar{
  width: 1vh;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 10px;
  margin-top: 10vh;
  width: 1vh;
}

::-webkit-scrollbar-thumb{
  background: #56599E;
  border-radius: 10px;
  width: 1.5vh;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

/*Cards & Grid*/

.grid {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.team {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.collabs-grid {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.company {
  width: 6rem;
}

.about-img {
  width: 100%;
}

.team-pics {
  border-radius: 5px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(1, 1fr); }
}

@media (max-width: 900px) {
  .flex-container { display: block; }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

button {
  width: 100%;
  background-color: transparent;
  padding: 10px 0 10px 0;
  border: 1px solid #AFB1E8;
  color: #56599E;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button:hover {
  background-color: #AFB1E8;
  color: white;
}

