.App {
  text-align: center;
  
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple {
  background-color: #AFB1E8;
}

h1 {
  color: #56599E;
}

/*Scrollbar*/

/*Scrollbar*/

::-webkit-scrollbar{
  width: 2vh;
}

::-webkit-scrollbar-track{
  background: transparent;
  /* box-shadow: inset 0 0 5px rgb(108, 67, 128);  */
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 2vh;
}


::-webkit-scrollbar-thumb{
  background: #7071a3;
  border-radius: 1.5vh;
  width: 1.5vh;
}

::-webkit-scrollbar-thumb:hover{
  background: #56599E;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}