.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

  .nav-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1500px;
  }
      
  .nav-menu {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 5px;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: end;
  }

  .nav-link {
      color: #263238;
      display: flex;
      align-items:stretch;
      text-decoration: none;
      cursor: pointer;
      padding: .1rem 1rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      height: 100%;
      letter-spacing: .1rem;	
  }
    
  .nav-link:hover {
      color: #56599E;
      border-bottom: 2px solid #56599E;
  }

  .fa-bars {
      color: #56599E;
  }
      
  .menu-icon {
      display: none;
  }
    
  @media screen and (max-width: 960px) {
      .NavbarItems {
        position: relative;
      }

      .navbar {
        justify-content: space-between;
        padding: 1rem;
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        width: 160px;
        position: absolute;
        top: 50px;
        right: 100%;
        transition: all 0.5s ease;
        margin-right: 5px;
      }
    
      .nav-menu.active {
        background: #AFB1E8;
        border-radius: 10px;
        border: solid 2px #56599E;
        right: 0;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0;
      }
    
      .nav-link {
        text-align: left;
        padding: 20px;
        display: table;
        color: #F7F4E6;
      }
    
      .nav-link:hover {
        background-color: white;
        color: #56599E;
        border-bottom: none;
      }
    
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 1rem;
        right: 0;
        transform: translate(-100%, 60%);
        cursor: pointer;
      }
    
      .fa-times {
        color: #AFB1E8;
      }
  }